
<div id="main_content"></div>


<p> <span class="preamble">
 <span id="foreword">
<strong> Предисловие</strong> <br />
 </span>
 </span></p>

<p>Моя компания (CD Baby) была одной из первых громко перешедших на Ruby on Rails, а затем еще громче вернувшейся обратно на PHP (Google расскажет об этой драме). Эту книгу, написанную Майклом Хартлом так высоко рекомендовали, что я должен был попробовать её, и <em>Ruby on Rails Tutorial</em> это всё, что я использовал, чтобы вернуться к Rails.</p>

<p>Хотя я уже прошел через много книг по Rails, это одна из немногих, что, наконец, зацепила меня. Было много написано книг типа &laquo;Путь Rails&raquo; — после которых я чувствовал себя неестественно, но после этой книги я наконец почувствовал себя естественно. Это также единственная книга по Rails, которая соблюдает методику &laquo;разработка через тестирование&raquo; в течении всего времени, этот подход строго рекомендуется специалистами, но никогда не был так чётко продемонстрирован ранее. Наконец, Git, GitHub и Heroku присутствуют в демо-примерах, автор действительно дает вам почувствовать, что он хотел сделать реальный проект. Учебный код примеров не изолирован.</p>

<p>Линейное повествование — отличный формат. Лично я прошел Rails Tutorial в течении трёх долгих дней, делая все примеры и задачи в конце каждой главы. Делайте всё от начала до конца, не прыгая, и вы получите максимальную выгоду.</p>

<p>Наслаждайтесь!</p>

<p><a href="http://sivers.org/">Derek Sivers</a> (<a href="http://sivers.org/">sivers.org</a>) <br />
<em>Ранее: основатель,</em> <a href="http://www.cdbaby.com/"><em>CD Baby</em></a> <br />
<em>В настоящее время: основатель</em> <a href="http://thoughts.pro/"><em>Thoughts Ltd.</em></a> <br /></p>

<p> <span class="preamble">
<strong> Благодарности</strong> <br />
 </span></p>

<p><em>Ruby On Rails Учебник</em> во многом обязан моей предыдущей книге по Rails, <em>RailsSpace</em> и, следовательно, моему соавтору <a  href="http://aure.com/">Aurelius Prochazka</a>. Я хотел бы поблагодарить Aure как и за работу, которую он проделал над прошлой книгой, так и за поддержку этой. Я также хотел бы поблагодарить Debra Williams Cauley, моего редактора обеих книг <em>RailsSpace</em> и <em>Rails Tutorial</em>; до тех пор, пока она держит меня в бейсболе, я буду продолжать писать книги для нее.</p>

<p>Я хотел бы поблагодарить ещё очень многих людей учивших и вдохновлявших меня: David Heinemeier Hansson, Yehuda Katz, Carl Lerche, Jeremy Kemper, Xavier Noria, Ryan Bates, Geoffrey Grosenbach, Peter Cooper, Matt Aimonetti, Gregg Pollack, Amy Hoy, Dave Chelimsky, Pat Maddox, Tom Preston-Werner, Chris Wanstrath, Chad Fowler, Josh Susser, Obie Fernandez, Ian McFarland, Steven Bristol, Wolfram Arnold, Alex Chaffee, Giles Bowkett, Evan Dorn, Long Nguyen, James Lindenbaum, Adam Wiggins, Tikhon Bernstam, Ron Evans, Wyatt Greene, Miles Forrest, хороших людей из Pivotal Labs, команду Heroku, thoughtbot ребят, и команду GitHub. Наконец, многих, многих читателей, которых слишком много для составления списка внёсших большое количество сообщений об ошибках и предложений во время написания этой книги, и я с благодарностью признаю их помощь в написании ее настолько хорошей насколько возможно.<br /></p>

<p> <span class="preamble">
 <span id="author">
<strong> Об авторе</strong> <br />
 </span>
 </span></p>

<p><a href="http://michaelhartl.com/">Майкл Хартл</a> &#8211; программист, издатель и предприниматель. Майкл был соавтором учебника по Rails <em>RailsSpace</em>, бестселлера , опубликованного в 2007 году и был сооснователем и ведущим разработчиком <a href="http://insoshi.com/">Insoshi</a>, популярной платформы социальной сети на Ruby on Rails. Ранее он преподавал теоретическую и компьютерную физику в <a href="http://www.caltech.edu/">California Institute of Technology</a> (Caltech), где он получил Lifetime Achievement Award за выдающиеся достижения в преподавании. Майкл закончил <a href="http://college.harvard.edu/">Harvard College</a>, имеет <a href="http://resolver.caltech.edu/CaltechETD:etd-05222003-161626">Ph.D. in Physics</a>  <a href="http://www.caltech.edu/">Caltech</a>, и является выпускником предпринимательских курсов <a href="http://ycombinator.com/">Y&nbsp;Combinator</a>. <br /></p>

<p> <span id="license" class="preamble">
<strong> Копирайт и лицензия</strong> <br />
 </span></p>

<p><em>Ruby on Rails Tutorial: Learn Rails by Example</em>. Copyright &copy; 2010 by Michael Hartl. Весь исходный код в <em>Ruby on Rails Tutorial</em> доступен под <a href="http://www.opensource.org/licenses/mit-license.php">MIT License</a>, а также под <a href="http://en.wikipedia.org/wiki/Beerware">Beerware License</a>.</p>

<pre class="verbatim">   Copyright (c) 2010 Michael Hartl

   Настоящим разрешением утверждено: бесплатно для всех!
   получение копии этого ПО и связанной документации.
   (так называемое &quot;Software&quot;), называемое далее Software
   за исключением ограничений, включающих введение
   ограничение прав использования, копирования, модификации,
   объединения, публикации, дистрибуции, сублицензирования
   и/или продажи копий Software, и допуская персональное
   использование Software конечными пользователями при
   выполнении следующих условий:

   Прилагаемая к документам об авторском праве записка
   и записка с разрешением должны быть включены во все
   копии значительных частей Software.

   ДАННОЕ SOFTWARE ПРЕДОСТАВЛЕНО «КАК ЕСТЬ» БЕЗ КАКИХ БЫ ТО НИ БЫЛО
   ГАРАНТИЙ, ВЫРАЖЕННЫХ ЯВНО ИЛИ ПОДРАЗУМЕВАЕМЫХ, ВКЛЮЧАЯ,
   НО НЕ ОГРАНИЧИВАЯСЬ ГАРАНТИЯМИ КОММЕРЧЕСКОЙ ЦЕННОСТИ,
   СООТВЕТСТВИЯ ПО ЕГО ПРЕДНАЗНАЧЕНИЮ И ЦЕЛОСТНОСТИ ПО.
   НИ В КАКОМ СЛУЧАЕ АВТОРЫ ИЛИ ПРАВООБЛАДАТЕЛИ НЕ НЕСУТ
   ОТВЕТСТВЕННОСТИ ПО ИСКАМ О ВОЗМЕЩЕНИИ УЩЕРБА, УБЫТКОВ
   ИЛИ ДРУГИХ ТРЕБОВАНИЙ ПО ДЕЙСТВУЮЩИМ КОНТРАКТАМ,
   ДЕЛИКТАМ ИЛИ ИНОМУ, ВОЗНИКШИМ ИЗ, ИМЕЮЩИМ ПРИЧИНОЙ ИЛИ
   СВЯЗАННЫМ С SOFTWARE ИЛИ ИСПОЛЬЗОВАНИЕМ ИЛИ ИНЫМИ ДЕЙСТВИЯМИ С SOFTWARE.</pre>




<pre class="verbatim">/*
 * ------------------------------------------------------------
 * &quot;THE BEERWARE LICENSE&quot; (Revision 42):
 * Весь код написан Майклом Хартлом. До тех пор пока вы осознаете это,
 * вы можете делать с ним все что захотите. Если мы когда нибудь
 * встретимся, и если это того стоило, вы можете купить мне
 * пиво в ответ.
 * ------------------------------------------------------------
 */</pre>

