<script type="text/javascript">
reformal_wdg_w    = "713";
reformal_wdg_h    = "460";
reformal_wdg_domain    = "RoR";
reformal_wdg_mode    = 0;
reformal_wdg_title   = "Перевод Ruby on Rails Tutorial";
reformal_wdg_ltitle  = "Оставьте свой отзыв";
reformal_wdg_lfont   = "";
reformal_wdg_lsize   = "";
reformal_wdg_color   = "#fa8e00";
reformal_wdg_bcolor  = "#a8a8a8";
reformal_wdg_tcolor  = "#fc0000";
reformal_wdg_align   = "left";
reformal_wdg_charset = "utf-8";
reformal_wdg_waction = 0;
reformal_wdg_vcolor  = "#a0cf55";
reformal_wdg_cmline  = "#e0e0e0";
reformal_wdg_glcolor  = "#105794";
reformal_wdg_tbcolor  = "#ffffff";
reformal_wdg_tcolor_aw4  = "#3f4543";
 
reformal_wdg_bimage = "7688f5685f7701e97daa5497d3d9c745.png";
 
</script>

<script type="text/javascript" language="JavaScript" src="http://reformal.ru/tabn2v4.js"></script><noscript><a  rel="nofollow" href="http://RoR.reformal.ru">Перевод Ruby on Rails Tutorial feedback</a> <a href="http://reformal.ru">на платформе <img src="http://widget.reformal.ru/i/reformal_ru.png" /></a></noscript>