<div id='sidebar'>
  <div class='content'>
    <div id='navtool'>
      <table class='layout'>
        <tr>
          <td colspan='2'><a href="#book_menu"><img alt="Up A Level" src="/images/buttons/sb_button_up.png?1304201480" /></a></td>
        </tr>
        <tr>
          <td><%= prev_button(@content) %></td>
          <td><%= next_button(@content) %></td>
        </tr>
      </table>
      <a href="http://amzn.to/RTbook"><img alt="Buy Print Edition" src="/images/buttons/sb_button_buy_print_edition_red.png?1304201480" /></a>
      <br />
      <a href="http://ruby.railstutorial.org/#buy"><img alt="Buy Screencasts" src="/images/buttons/sb_button_buy_screencasts_red.png?1304201480" /></a>
      <div class='connect'>
        <table class='center'>
          <tr>
            <td><a href="http://feeds.feedburner.com/RubyOnRailsTutorial_ru"><img alt="Feed-icon24x24" src="/images/icons/feed-icon24x24.png?1304201481" title="Подписаться на новости через RSS" /></a></td>
            <td><a href="http://feedburner.google.com/fb/a/mailverify?uri=RubyOnRailsTutorial_ru&amp;loc=ru_RU"><img alt="Mail-icon-24x24" src="/images/icons/mail-icons/mail-icon-24x24.png?1304201481" title="Подписаться на новости через email" /></a></td>
            <td><a href="http://www.facebook.com/pages/Ruby-on-Rails-Tutorial/197151265072"><img alt="Facebook-icon24x24" src="/images/icons/facebook-icon24x24.png?1304201481" title="Become a fan on Facebook" /></a></td>
            <td><a href="http://www.twitter.com/gafar_heroku"><img alt="Twitter-icon24x24" src="/images/icons/twitter-icon24x24.png?1304201481" title="Читать в Twitter" /></a></td>
          </tr>
        </table>
      </div><!-- <div class='connect'> -->
      <a rel="nofollow" href="http://orphus.ru" id="orphus" target="_blank">
        <img alt="Система Orphus" src="/images/orphus.gif" border="0" width="88" height="31" />
      </a>
    </div><!-- <div id='navtool'> -->
  </div><!-- <div class='content'> -->
</div><!-- <div id='sidebar'> -->