<script type="text/javascript">
$(document).ready(function(){
  $("a").click(function (event) {
    event.stopPropagation();
  });

  $("p").toggle(
    function() {
      $("p").css("background-color","");
      $('div.newelement').remove();
      var index = $("p").index(this);
      var p_for_load = '/new/<%= @chapter %>_fragment.html p:eq(' + index + ')';
      $(this).css("background-color","#fffacd");
      $(this).after (function() { return ('<div class="newelement"> </div>');});
      $("div.newelement").load(p_for_load);

    },
    function(){
      $('div.newelement').remove();
      $(this).css("background-color","");
    }
  );

});
</script>